.root {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 12px;
}

.select {
  width: 80px;
  height: 30px;
  font: inherit;
  border: 1px solid #000000;
  border-radius: 4px;

  &.isInvalid {
    border-color: #FF0000;
  }
}

.error {
  max-width: 40%;
  font-size: 0.8em;
  line-height: 1;
  color: #FF0000;

  &:not(.isVisible) {
    display: none;
  }
}
